<div class="row">
	<div class="col-md-2">
		<h2>Noticias</h2>
	</div>
</div>
<div class="row">
	<div class="col-md-2">
	</div>
	<div class="col-md-4">
		<label>* Nombre</label><br>
		<input class="form-control" /><br>
		<label>* Email</label><br>
		<input class="form-control" /><br>
		<label>* Mensaje</label><br>
		<textarea class="form-control">
		</textarea>
		<br>
		<div style="text-align: center">
		<button type="submit" class="btn btn-default">Entregar</button>
		</div>
	</div>
</div>